@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
}

.sidebar-panel {
    height: 100%;
    width: 200px;
}

.App {
    display: flex;
    height: 100%;
}